@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Port City Pacers Management System</h1>
    <p>To manage members, please click on 'Membership Management'</a>.</p>
</div>
